# Ignore everything in data folder
data/*

# Keep small, text-based files
!data/*.txt
!data/*.csv
!data/README.md

# Ignore large or binary data formats
data/*.json
data/*.parquet
data/**/*.parquet

# Ignore model artifacts
*.pkl
*.sav
*.h5
*.joblib

# Ignore notebooks checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/

# Ignore OS/system files
.DS_Store

# Ignore cache and logs
__pycache__/
*.log